In [ ]:
ANIH ONUABUCHI GENEVIEVE
DAHEL TECHIES  STUDENT APRIL/MAY 
PROJECT ASSESSMENTS
INTRUCTIONS:-
#kindly use comment to explain every line of you code when, neccesary
#make a video explanantion of your excercises and post it online on your profile 
#ensure you open Github profile where you can upload you assessments/projects. 
#submit you code as pd form link to any respository we can confirm
#be sure to confirm you cohort name first before submitting in the link above.

In [41]:
#Excercise 1: Basic list options 
#create a list of your fovourite fruits and perform the following operation

In [42]:
#1. Add a new fruits to the list 
fruit = ['apple', 'guava', 'cashew', 'mangos']
fruit.append('kiwi')
print(fruit)

['apple', 'guava', 'cashew', 'mangos', 'kiwi']

In [43]:
#Remove a fruits from the list
fruit2 =  ['apple', 'guava', 'cashew', 'mangos']
fruit.remove('mangos')
print(fruit)

['apple', 'guava', 'cashew', 'kiwi']

In [ ]:
#find the index[] of specfic fruit
fruit =  ['apple', 'guava', 'cashew', 'mangos']
print(fruit[3])

In [44]:
#sort list in alphabetical order
fruit =  ['apple', 'guava', 'cashew', 'mangos']
fruit.sort()
print(fruit)

['apple', 'cashew', 'guava', 'mangos']

In [ ]:
#Excercis2 
#create a list of numbers from 1-10 and and a list of comprehension to generate a new list containing the squares of these numbers 
#answers 
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9,10]
square_numbers = (1, 2,3, 4, 5, 6, 7, 8, 9, 10)
print(square_numbers)

In [ ]:
#create a nested list to represent the following matrix and write the code
numbers = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
print(numbers[1])
print(numbers[2])

In [ ]:
#EXCERCISE 4 LSIT OF DICTIONARIES
#create a list of dictionaries where each dictionary represents a students with the key 'name' and 'score' write code:
#. add a new student to the list
students ={'deby', 90, 'genevieve', 100, 'kosi', 70}
print(students)

In [ ]:
#a add new student to the list
# i use .add because dictionary can not be append
students.add ('chi')
print(students)

In [ ]:
#caluculate the average score of the students
student1 = {100}
student2 = {70}
student3 = {90}
student4 = {55}
print(student1)
print(student2)
print(student3)
print(student4)

In [ ]:
student1 = 100
student2 = 70
student3 = 90
student4 = 55
print(student1+student2+student3+student4)

In [ ]:
#average
315/100

In [ ]:
#EXCERCISE5 
#list filtering 
#create a list of numbers from 1 to 2o. use list comprehension to filter out the numbers that are not divisible by 3
#here is the list of numbers
#using lambda function to check if a number is even
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]
even_numbers = filters[lambda x: x % 2 == 0, numbers]
print(list(even_numbers))
2,4,6,8,10,12,14,16,18,20

In [ ]:
#EXCERCISE6 
#finding common element 
#give two list of integers, find the comomon elements between them
#i use list and set
set1 = [1, 2, 3, 4, 5]
set2 = [5, 6, 7, 8, 9]
print(set1+set2)
print(set1)
print(set2)

In [ ]:
Set1 = {1,2,3,4,5}
Set2 ={5,10,6,7,8}
result = Set1.union(Set2)
print(type(result))
print(result)

In [ ]:
Set1.intersection(Set2)

In [ ]:
#EXCERCISE7
#list reversal
#create a  list of words and write to reverse the list 
#first name on the list turn to last
friends = ['chioma', 'favour', 'jessy', 'geb', 'arianna']
friends.reverse()
print(friends)

In [ ]:
#EXCERCISE8
#removing duplictates
#given a list of integers, write code to remove duplicates element and return the list unique elements 
data = [50, 45, 60, 60, 30, 30, 70, 20]
def remove_duplicates(duplist):
    noduplist = []
    
    for element in duplist:
        if element not in noduplist:
            noduplist.append(element)

    return noduplist

print(remove_duplicates(data))

In [ ]:
#EXCERCISE9 COMBING A LIST
#given two lists of the same length, create a new list where each elements of the sum of the elements are in corresponding position in the original lists
pos = ['monipoint', 'opay', 'palmpay', 'paga']
network = ['mtn', 'glo', 'airtel', 'etisalat']
print('monipoint', 'opay', 'palmpay', 'paga'  ' ' 'm tn', 'glo', 'airtel', 'etisalat')

In [ ]:
#EXCERCISE10 rotating list
#write function to rotate a list by a given numbers of a postion to the left
#numpy.roll
import numpy as np
#no.flip(x,axis*2)
arrays= ([[9, 10, 11, 12],
        [5, 6, 7, 8],
        [1, 2, 3, 4]])
print(arrays)

In [ ]:
#SELF GENERATED QUESTION AND ANSWER ON INPUT
#MAD LIB GAMES FORMULATED 
colours = input("enter your best colour: ")
favourite_drink = input("enter your best drinks: ")
food_choice = input("enter your favourite food: ")
print(input)

In [45]:
#ANOTHER SELF GENERATED QUESTION AND ANSWER ON INPUT

print("hello" + " " + ("welcome to aluko cleaning service"))

hello welcome to aluko cleaning service

In [46]:
print("welcome to facebook" + " " +input("what is you name?"))

what is you name? ANI ONUABUCHI GENEVIEVE

welcome to facebook ANI ONUABUCHI GENEVIEVE

In [47]:
print("welcome to Dubia" + " " +input("what is you name?"))

what is you name? ANIH ONUABUCHI GENEVIEVE

welcome to Dubia ANIH ONUABUCHI GENEVIEVE